@import 'components/header.css';
@import 'components/layout.css';

:root {
	--pink: #e6007e;
	--blue: #2d2e83;
}

html {
	box-sizing: border-box;
}

*,
*::before,
*::after {
	box-sizing: inherit;
}

body {
	font-family: sans-serif;
	margin: 0;
	display: grid;
	min-height: 100vh;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: inherit;
	color: var(--blue);
}

a {
	color: var(--pink);
}

a:hover,
a:focus {
	text-decoration: none;
}

p > code,
li > code,
dd > code,
td > code {
	background: #2d2f8313;
	word-wrap: break-word;
	box-decoration-break: clone;
	padding: 0rem 0.3rem 0.13rem;
	border-radius: 0.2rem;
}

img {
	max-width: 100%;
	height: auto;
}
