@import 'components/header.css';
@import 'components/layout.css';

:root {
	--pink: #e6007e;
	--blue: #2d2e83;
}

body {
	font-family: sans-serif;
	padding-bottom: 6em;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: inherit;
	color: var(--blue);
}

a {
	color: var(--pink);
}

p > code,
li > code,
dd > code,
td > code {
	background: #2d2f8313;
	word-wrap: break-word;
	box-decoration-break: clone;
	padding: 0rem 0.3rem 0.13rem;
	border-radius: 0.2rem;
}
