<!DOCTYPE html>
<html lang="cs">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<base href="/HTML-a-CSS-2/">
		<title>
			HTML a CSS 2
		</title>
		<link rel="stylesheet" href="static/main.css">
		<link rel="icon" type="image/png" href="static/favicon.png" sizes="64x64">
	</head>
	<body>
		<div class="layout">
			<header class="header">
				<h1>
					<a href="">
					Czechitas: HTML a CSS 2
				</a>
				</h1>
			</header>
			<main>
				{{ content | safe }}
			</main>
		</div>
	</body>
</html>
