<!DOCTYPE html>
<html lang="cs">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<base href="/HTML-a-CSS-2/">
		<title>
			HTML a CSS 2
		</title>
		<link rel="stylesheet" href="static/main.css">
		<link rel="icon" type="image/png" href="static/favicon.png" sizes="64x64">
		<link href="https://unpkg.com/prismjs@1.20.0/themes/prism-okaidia.css" rel="stylesheet">
		<meta property="og:image" content="https://czechitas-podklady-web.github.io/HTML-a-CSS-2/static/og-image.jpg"/>
	</head>
	<body>
		<div class="layout">
			<header class="header">
				<h1>
					<a href="">
						<img src="static/logo.png" width="206" height="60" alt="logo Czechitas">
						<span>HTML a CSS 2</span>
					</a>
				</h1>
			</header>
			<main>
				{{ content | safe }}
			</main>
		</div>
	</body>
</html>
